<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./imgen/bloco-de-notas-aberto-em-cadernos-pretos\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Mantém a imagem fixa enquanto o conteúdo rola */
    background-position: center center; /* Centraliza a imagem horizontal e verticalmente */
    background-size: cover;
  }

  i{
    cursor: pointer;
   
  }

  h1{
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    display: flex;
    text-align: center;
    justify-content: center;  
    background-color: #0ab1e4;
  }
  .table-container {
    padding: 15px;
    overflow-x: auto;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #c91a1a;
  }
  
  th, td {
    font-size: 25px;
    font-weight: bolder;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ffffff;
    color: rgb(0, 0, 0);
  }
  
  th {
    background-color: #0ab1e4;
  }
  
  .thumbnail {
    max-width: 100px;
    max-height: 100px;
  }
  
  @media (max-width: 500px) {
    table {
      display: block;
    }
    
    th, td {
      display: block;
      width: 100%;
    }
    
    th {
      text-align: center;
    }
    
    .thumbnail {
      max-width: 50px;
      max-height: 50px;
    }

    img{
        max-width: 50px;
    }
  }
</style>
</head>
<body>
  
    <h1>Ficha de presença</h1>
    
    <nav class="navbar navbar-light bg-light" style="cursor: pointer;">
      <a class="navbar-brand">Pesquisar</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
      </form>
    </nav>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>ID</th>
        <th>presença</th>
        <th>Falta</th>
        <th>Justificada</th>
        <th>Nome</th>
        <th>Turma</th>
        <th>Turno</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img class="thumbnail" src="./imgen/4000_4_07.jpg" alt="Thumbnail"></td>
        <td>1</td>
        <td><input type="checkbox" name="presença" id="chek"></td>
        <td><input type="checkbox" name="falta" id="chek"></td>
        <td><input type="checkbox" name="justificada" id="chek"></td>
        <td>John Doe</td>
        <td>1 ano A</td>
        <td>manhã</td>
      </tr>
      <tr>
        <td><img class="thumbnail" src="./imgen/16336392_Kerfin7_NEA_2355-removebg-preview.png" alt="Thumbnail"></td>
        <td>2</td>
        <td><input type="checkbox" name="presença" id="chek"></td>
        <td><input type="checkbox" name="falta" id="chek"></td>
        <td><input type="checkbox" name="justificada" id="chek"></td>
        <td>Jane Smith</td>
        <td>2 ano B</td>
        <td>manhã</td>
      </tr>
      <!-- Adicione mais linhas conforme necessário -->
    </tbody>

    <tbody>
        <tr>
          <td><img class="thumbnail" src="./imgen/4000_4_07.jpg" alt="Thumbnail"></td>
          <td>1</td>
          <td><input type="checkbox" name="presença" id="chek"></td>
          <td><input type="checkbox" name="falta" id="chek"></td>
          <td><input type="checkbox" name="justificada" id="chek"></td>
          <td>John Doe</td>
          <td>1 ano A</td>
          <td>manhã</td>
        </tr>
        <tr>
          <td><img class="thumbnail" src="./imgen/16336392_Kerfin7_NEA_2355-removebg-preview.png" alt="Thumbnail"></td>
          <td>2</td>
          <td><input type="checkbox" name="presença" id="chek"></td>
          <td><input type="checkbox" name="falta" id="chek"></td>
          <td><input type="checkbox" name="justificada" id="chek"></td>
          <td>Jane Smith</td>
          <td>2 ano B</td>
          <td>manhã</td>
        </tr>
        <!-- Adicione mais linhas conforme necessário -->
      </tbody>


      <tbody>
        <tr>
          <td><img class="thumbnail" src="./imgen/4000_4_07.jpg" alt="Thumbnail"></td>
          <td>1</td>
          <td><input type="checkbox" name="presença" id="chek"></td>
          <td><input type="checkbox" name="falta" id="chek"></td>
          <td><input type="checkbox" name="justificada" id="chek"></td>
          <td>John Doe</td>
          <td>1 ano A</td>
          <td>manhã</td>
        </tr>
        <tr>
          <td><img class="thumbnail" src="./imgen/16336392_Kerfin7_NEA_2355-removebg-preview.png" alt="Thumbnail"></td>
          <td>2</td>
          <td><input type="checkbox" name="presença" id="chek"></td>
          <td><input type="checkbox" name="falta" id="chek"></td>
          <td><input type="checkbox" name="justificada" id="chek"></td>
          <td>Jane Smith</td>
          <td>2 ano B</td>
          <td>manhã</td>
        </tr>
        <!-- Adicione mais linhas conforme necessário -->
      </tbody>


      <tbody>
        <tr>
          <td><img class="thumbnail" src="./imgen/4000_4_07.jpg" alt="Thumbnail"></td>
          <td>1</td>
          <td><input type="checkbox" name="presença" id="chek"></td>
          <td><input type="checkbox" name="falta" id="chek"></td>
          <td><input type="checkbox" name="justificada" id="chek"></td>
          <td>John Doe</td>
          <td>1 ano A</td>
          <td>manhã</td>
        </tr>
        <tr>
          <td><img class="thumbnail" src="./imgen/16336392_Kerfin7_NEA_2355-removebg-preview.png" alt="Thumbnail"></td>
          <td>2</td>
          <td><input type="checkbox" name="presença" id="chek"></td>
          <td><input type="checkbox" name="falta" id="chek"></td>
          <td><input type="checkbox" name="justificada" id="chek"></td>
          <td>Jane Smith</td>
          <td>2 ano B</td>
          <td>manhã</td>
        </tr>
        <!-- Adicione mais linhas conforme necessário -->
      </tbody>


      <tbody>
        <tr>
          <td><img class="thumbnail" src="./imgen/4000_4_07.jpg" alt="Thumbnail"></td>
          <td>1</td>
          <td><input type="checkbox" name="presença" id="chek"></td>
          <td><input type="checkbox" name="falta" id="chek"></td>
          <td><input type="checkbox" name="justificada" id="chek"></td>
          <td>John Doe</td>
          <td>1 ano A</td>
          <td>manhã</td>
        </tr>
        <tr>
          <td><img class="thumbnail" src="./imgen/16336392_Kerfin7_NEA_2355-removebg-preview.png" alt="Thumbnail"></td>
          <td>2</td>
          <td><input type="checkbox" name="presença" id="chek"></td>
          <td><input type="checkbox" name="falta" id="chek"></td>
          <td><input type="checkbox" name="justificada" id="chek"></td>
          <td>Jane Smith</td>
          <td>2 ano B</td>
          <td>manhã</td>
        </tr>
        <!-- Adicione mais linhas conforme necessário -->
      </tbody>


      <tbody>
        <tr>
          <td><img class="thumbnail" src="./imgen/4000_4_07.jpg" alt="Thumbnail"></td>
          <td>1</td>
          <td><input type="checkbox" name="presença" id="chek"></td>
          <td><input type="checkbox" name="falta" id="chek"></td>
          <td><input type="checkbox" name="justificada" id="chek"></td>
          <td>John Doe</td>
          <td>1 ano A</td>
          <td>manhã</td>
        </tr>
        <tr>
          <td><img class="thumbnail" src="./imgen/16336392_Kerfin7_NEA_2355-removebg-preview.png" alt="Thumbnail"></td>
          <td>2</td>
          <td><input type="checkbox" name="presença" id="chek"></td>
          <td><input type="checkbox" name="falta" id="chek"></td>
          <td><input type="checkbox" name="justificada" id="chek"></td>
          <td>Jane Smith</td>
          <td>2 ano B</td>
          <td>manhã</td>
        </tr>
        <!-- Adicione mais linhas conforme necessário -->
      </tbody>

      <tbody>
        <tr>
          <td><img class="thumbnail" src="./imgen/4000_4_07.jpg" alt="Thumbnail"></td>
          <td>1</td>
          <td><input type="checkbox" name="presença" id="chek"></td>
          <td><input type="checkbox" name="falta" id="chek"></td>
          <td><input type="checkbox" name="justificada" id="chek"></td>
          <td>John Doe</td>
          <td>1 ano A</td>
          <td>manhã</td>
        </tr>
        <tr>
          <td><img class="thumbnail" src="./imgen/16336392_Kerfin7_NEA_2355-removebg-preview.png" alt="Thumbnail"></td>
          <td>2</td>
          <td><input type="checkbox" name="presença" id="chek"></td>
          <td><input type="checkbox" name="falta" id="chek"></td>
          <td><input type="checkbox" name="justificada" id="chek"></td>
          <td>Jane Smith</td>
          <td>2 ano B</td>
          <td>manhã</td>
        </tr>
        <!-- Adicione mais linhas conforme necessário -->
      </tbody>

      <tbody>
        <tr>
          <td><img class="thumbnail" src="./imgen/4000_4_07.jpg" alt="Thumbnail"></td>
          <td>1</td>
          <td><input type="checkbox" name="presença" id="chek"></td>
          <td><input type="checkbox" name="falta" id="chek"></td>
          <td><input type="checkbox" name="justificada" id="chek"></td>
          <td>John Doe</td>
          <td>1 ano A</td>
          <td>manhã</td>
        </tr>
        <tr>
          <td><img class="thumbnail" src="./imgen/16336392_Kerfin7_NEA_2355-removebg-preview.png" alt="Thumbnail"></td>
          <td>2</td>
          <td><input type="checkbox" name="presença" id="chek"></td>
          <td><input type="checkbox" name="falta" id="chek"></td>
          <td><input type="checkbox" name="justificada" id="chek"></td>
          <td>Jane Smith</td>
          <td>2 ano B</td>
          <td>manhã</td>
        </tr>
        <!-- Adicione mais linhas conforme necessário -->
      </tbody>

  </table>

</div>

</body>
</html>
